#updel{
  border: none;
}

.table-dark #updel{
--bs-table-hover-bg: white;
}

.bd{
  font-weight: bold;
}

.table {
  margin: 0 auto;
  width: 80%;
}

.tb{
  font-weight: bold;
}

.aa{
  width: 50% !important;
}

.vwbk{
  text-decoration: none;
  color: white;
}

.vwbk:hover{
  color: white;
}

.vwinv{
  width: 100%;
  position: relative;
}

.ft{
  font-size: 16px !important;
  bottom: 0;
  width: 100%;
  color: rgba(245, 235, 235, 0.527);
  margin-top: 50px;
}

/* .cc{
  margin-top: 50px;
} */
.bv{
  margin-bottom: 230px;
}

.dc{
  max-width: 100% !important;
  position: relative;
}