#updel{
  border: none;
}

.bd{
  font-weight: bold;
}

.table {
  margin: 0 auto;
  width: 80%;
}

.tb{
  font-weight: bold;
}

.aa{
  width: 50% !important;
}

.vwbk{
  text-decoration: none;
  color: white;
}

.vwbk:hover{
  color: white;
}

.ft{
  font-size: 16px !important;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 50px;
}

/* .cc{
  margin-top: 50px;
} */
.bv{
  margin-bottom: 230px;
}
